body {
    background-color: #fff;
    color: #000000;
}

#forecast td,
#forecast th,
#tableHourlyForecast td,
#tableHourlyForecast th {
    background-color: lightgray;
    border-left: 1px solid darkgray;
}

#forecast td,
#forecast th {
    border-right: 1px solid darkgray;
}

#forecast th {
    border-top: 1px solid darkgray;
}

#forecast tr:last-child td {
    border-bottom: 1px solid darkgray;
}

#tableHourlyForecast th {
    border-top: 1px solid darkgray;
}

#tableHourlyForecast tr:last-child td {
    border-bottom: 1px solid darkgray;
}

#tableHourlyForecast tr th:last-child,
#tableHourlyForecast tr td:last-child {
    border-right: 1px solid darkgray;
}

#alerts {
    background-color: red;
    color: white;
}